/* =====hero section===== */

.hero {
  width: 100%;
  background-color: var(--clr-main);
  position: relative;
  display: grid;
  place-items: center;
}

.hero__dark {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero__bg {
  height: 100%;
  width: 100%;
  background-color: var(--clr-dark);
  clip-path: polygon(0 50%, 35% 0, 100% 0, 100% 50%, 65% 100%, 0 100%);
}

.hero__top {
  z-index: 1;
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  color: var(--clr-white);
  text-align: center;
}

.hero__img {
  width: 100%;
}

.hero__bottom {
  z-index: 1;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.hero__intro {
  text-align: center;
  width: 100%;
}

.hero__btn {
  width: 50%;
}

@media (min-width: 700px) {
  .hero {
    padding: 3rem 0;
  }

  .hero__top {
    flex-direction: row;
  }

  .banner-text {
    color: var(--clr-white);
    text-align: left;
    font-size: 2.5rem;
  }

  .hero__img {
    width: 60%;
  }

  .hero__bottom {
    flex-direction: row;
    padding-bottom: 4rem;
  }

  .hero__intro {
    text-align: left;
    width: 40%;
  }

  .hero__btn {
    width: 40%;
    margin-right: 10%;
  }
}

@media (min-width: 900px) {
  .banner-text {
    font-size: 3.2rem;
  }
}

@media (min-width: 1250px) {
  .banner-text {
    font-size: 4rem;
  }
}