/* =====services section===== */

.services {
  width: 100%;
  padding-bottom: 4em;
  position: relative;
  background-color: var(--clr-alt);
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.705)),
    url(../assets/blue-bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__top,
.services__bottom {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.services__bottom {
  margin-top: 4rem;
}

.card__wrapper {
  position: relative;
  width: 90%;
  max-width: 280px;
  margin: 0 auto;
}

.card__bg {
  width: 100%;
  background-color: var(--clr-tetiary);
  position: absolute;
  top: -0.3rem;
  bottom: -0.3rem;
  left: -5%;
  z-index: -1;
}

.card__bg.unique {
  background-color: var(--clr-primary);
  border-radius: 0 3px 3px 0;
  top: -0.3rem;
  bottom: -0.3rem;
  left: 5%;
}

.services__card {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  cursor: default;
  transition: var(--transition);
}

.services__card:hover {
  transform: scale(1.05);
}

.services__card .services__img {
  width: 100%;
  height: 140px;
  border-radius: 10px 10px 0 0;
}

/* .services__text {
  padding: 0 1rem 1rem;
} */

.services__text h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--clr-tetiary) !important;
}
.services__text p {
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .services__top,
  .services__bottom {
    gap: 2rem;
    flex-direction: row-reverse;
  }

  .services__card .services__img {
    height: 140px;
  }
}

@media (min-width: 1200px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 8.5rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .card__wrapper {
    position: relative;
    width: 220px;
    margin: 0 auto;
  }

  .services__top,
  .services__bottom {
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    transform: scale(1.2);
  }

  .services__bottom {
    margin-top: 4rem;
  }

  .services__card {
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.315);
  }

  .services__card .services__img {
    border-radius: 4px 4px 0 0;
  }

  .services__card:hover {
    transform: scale(1.1);
  }

  .card__bg {
    display: none;
  }
}
